In [32]:
import pandas as pd

In [33]:
import pandas as pd

eia = pd.read_csv("data_clean/eia_clean.csv")
fema = pd.read_csv("data_clean/fema_clean.csv")
noaa = pd.read_csv("data_clean/noaa_clean.csv")

In [34]:
eia_state_year = (
    eia
    .groupby(['State', 'Year'], as_index=False)
    .agg(
        Total_Revenues=('Total Revenues', 'sum'),
        Total_Sales=('Total Sales', 'sum'),
        Total_Customers=('Total Customers', 'sum')
    )
)

In [35]:
eia_state_year['Revenue_per_Customer'] =(
    eia_state_year['Total_Revenues'] / eia_state_year['Total_Customers']
)

eia_state_year['Sales_per_Customer'] = (
    eia_state_year['Total_Sales'] / eia_state_year['Total_Customers']
)

In [36]:
fema['Year'] = pd.to_datetime(
    fema['declarationDate']
).dt.year

fema_state_year = (
    fema
    .groupby(['state', 'Year'], as_index=False)
    .agg(
        Disaster_Count=('disasterNumber', 'nunique')
    )
)

fema_state_year.rename(columns={'state': 'State'}, inplace=True)

In [37]:

noaa['YEAR'] = noaa['YEAR'].astype(int)

In [38]:
import pandas as pd
#cleaning

def clean_damage(x):
    if pd.isna(x):
        return 0
    x = str(x).upper().replace('$','').strip()  
    if x.endswith('K'):
        return float(x[:-1]) * 1_000
    if x.endswith('M'):
        return float(x[:-1]) * 1_000_000
    if x.endswith('B'):
        return float(x[:-1]) * 1_000_000_000
    try:
        return float(x)
    except:
        return 0


noaa['DAMAGE_PROPERTY'] = noaa['DAMAGE_PROPERTY'].apply(clean_damage)
noaa['DAMAGE_CROPS'] = noaa['DAMAGE_CROPS'].apply(clean_damage)


print(noaa[['DAMAGE_PROPERTY']].head(20))

    DAMAGE_PROPERTY
0               0.0
1               0.0
2               0.0
3               0.0
4               0.0
5            1000.0
6               0.0
7               0.0
8               0.0
9               0.0
10              0.0
11              0.0
12              0.0
13              0.0
14              0.0
15              0.0
16              0.0
17              0.0
18          75000.0
19         120000.0

In [39]:
noaa.head(20)

,EVENT_ID,EPISODE_ID,STATE,YEAR,EVENT_TYPE,CZ_TYPE,CZ_NAME,BEGIN_DATE_TIME,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,MONTH
0,1174463,189851,OKLAHOMA,2024,Thunderstorm Wind,C,TILLMAN,2024-04-30 20:33:00,2024-04-30 20:33:00,0,0,0,0,0.0,0.0,4
1,1195301,193486,LOUISIANA,2024,Excessive Heat,Z,NATCHITOCHES,2024-07-01 00:00:00,2024-07-05 09:00:00,0,0,0,0,0.0,0.0,7
2,1223377,197838,OREGON,2024,Heavy Snow,Z,EAST SLOPES OF THE OREGON CASCADES,2024-11-16 02:30:00,2024-11-18 14:21:00,0,0,0,0,0.0,0.0,11
3,1184135,191723,TEXAS,2024,Heat,Z,WILLACY,2024-05-22 12:30:00,2024-05-22 16:15:00,0,0,0,0,0.0,0.0,5
4,1184133,191723,TEXAS,2024,Heat,Z,WILLACY,2024-05-21 12:00:00,2024-05-21 15:30:00,0,0,0,0,0.0,0.0,5
5,1182348,191916,MISSISSIPPI,2024,Thunderstorm Wind,C,PONTOTOC,2024-05-24 14:05:00,2024-05-24 14:10:00,0,0,0,0,1000.0,0.0,5
6,1221908,197531,WASHINGTON,2024,Heavy Snow,Z,SOUTH WASHINGTON CASCADES,2024-11-01 00:00:00,2024-11-01 16:00:00,0,0,0,0,0.0,0.0,11
7,1221909,197530,OREGON,2024,Heavy Snow,Z,CASCADES OF MARION AND LINN COUNTIES,2024-11-01 00:00:00,2024-11-01 16:00:00,0,0,0,0,0.0,0.0,11
8,1181506,191820,MISSISSIPPI,2024,Hail,C,TISHOMINGO,2024-05-14 15:10:00,2024-05-14 15:15:00,0,0,0,0,0.0,0.0,5
9,1181499,191821,TENNESSEE,2024,Hail,C,HARDIN,2024-05-14 13:52:00,2024-05-14 13:57:00,0,0,0,0,0.0,0.0,5
10,1221931,197535,OREGON,2024,Heavy Snow,Z,CASCADES OF MARION AND LINN COUNTIES,2024-11-17 11:00:00,2024-11-18 21:00:00,0,0,0,0,0.0,0.0,11
11,1221924,197534,WASHINGTON,2024,High Wind,Z,SOUTH WASHINGTON COAST,2024-11-13 01:00:00,2024-11-13 04:00:00,0,0,0,0,0.0,0.0,11
12,1221930,197535,OREGON,2024,Heavy Snow,Z,NORTH OREGON CASCADES,2024-11-17 11:00:00,2024-11-18 21:00:00,0,0,0,0,0.0,0.0,11
13,1221932,197535,OREGON,2024,Heavy Snow,Z,CASCADES OF LANE COUNTY,2024-11-17 10:00:00,2024-11-18 21:00:00,0,0,0,0,0.0,0.0,11
14,1221933,197536,WASHINGTON,2024,Heavy Snow,Z,SOUTH WASHINGTON CASCADES,2024-11-17 10:00:00,2024-11-18 21:00:00,0,0,0,0,0.0,0.0,11
15,1221937,197539,OREGON,2024,High Wind,Z,CLATSOP COUNTY COAST,2024-11-22 10:00:00,2024-11-22 14:30:00,0,0,0,0,0.0,0.0,11
16,1221939,197540,WASHINGTON,2024,High Wind,Z,SOUTH WASHINGTON COAST,2024-11-22 11:00:00,2024-11-22 17:00:00,0,0,0,0,0.0,0.0,11
17,1221942,197543,OREGON,2024,Funnel Cloud,C,BENTON,2024-11-14 12:15:00,2024-11-14 12:16:00,0,0,0,0,0.0,0.0,11
18,1221959,197549,OREGON,2024,Heavy Rain,C,WASHINGTON,2024-11-20 08:00:00,2024-11-21 08:00:00,0,0,0,0,75000.0,0.0,11
19,1216653,196653,IOWA,2024,Tornado,C,DAVIS,2024-11-05 11:01:00,2024-11-05 11:02:00,0,0,0,0,120000.0,0.0,11

In [40]:
noaa['Casualties'] = (
    noaa['INJURIES_DIRECT'] +
    noaa['DEATHS_DIRECT']
)

In [41]:
print(noaa.columns)

Index(['EVENT_ID', 'EPISODE_ID', 'STATE', 'YEAR', 'EVENT_TYPE', 'CZ_TYPE',
       'CZ_NAME', 'BEGIN_DATE_TIME', 'END_DATE_TIME', 'INJURIES_DIRECT',
       'INJURIES_INDIRECT', 'DEATHS_DIRECT', 'DEATHS_INDIRECT',
       'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'MONTH', 'Casualties'],
      dtype='object')

In [42]:
noaa_state_year = (
    noaa
    .groupby(['STATE', 'YEAR'], as_index=False)
    .agg(
        Extreme_Event_Count=('EVENT_ID', 'nunique'),
        Total_Property_Damage=('DAMAGE_PROPERTY', 'sum'),
        Total_Crop_Damage=('DAMAGE_CROPS', 'sum'),
        Total_Casualties=('Casualties', 'sum')
    )
)

noaa_state_year.head(20)

,STATE,YEAR,Extreme_Event_Count,Total_Property_Damage,Total_Crop_Damage,Total_Casualties
0,ALABAMA,2024,1273,1.739660e+07,0.000000e+00,27
1,ALASKA,2024,319,1.079000e+07,0.000000e+00,6
2,AMERICAN SAMOA,2024,23,9.970000e+05,0.000000e+00,2
3,ARIZONA,2024,582,3.971550e+07,0.000000e+00,99
4,ARKANSAS,2024,1246,1.156533e+08,1.000000e+03,29
5,ATLANTIC NORTH,2024,673,4.000000e+03,0.000000e+00,0
6,ATLANTIC SOUTH,2024,582,0.000000e+00,0.000000e+00,0
7,CALIFORNIA,2024,2572,1.422954e+08,1.000000e+01,138
8,COLORADO,2024,1896,5.062500e+06,2.922200e+07,9
9,CONNECTICUT,2024,288,1.238700e+06,0.000000e+00,10
10,DELAWARE,2024,83,5.000000e+04,0.000000e+00,3
11,DISTRICT OF COLUMBIA,2024,28,6.800000e+04,0.000000e+00,0
12,E PACIFIC,2024,5,0.000000e+00,0.000000e+00,0
13,FLORIDA,2024,1441,7.185825e+09,4.150000e+08,88
14,GEORGIA,2024,1670,1.589141e+09,1.224100e+09,126
15,GUAM,2024,57,1.020000e+05,5.000000e+04,16
16,GUAM WATERS,2024,1,0.000000e+00,0.000000e+00,7
17,GULF OF ALASKA,2024,2,0.000000e+00,0.000000e+00,0
18,GULF OF MEXICO,2024,877,1.000000e+03,0.000000e+00,0
19,HAWAII,2024,180,2.277600e+07,1.000000e+04,10

In [43]:
print(fema.columns)

Index(['disasterNumber', 'state', 'declarationDate', 'incidentType',
       'fyDeclared', 'incidentBeginDate', 'incidentEndDate',
       'iaProgramDeclared', 'paProgramDeclared', 'hmProgramDeclared', 'region',
       'duration_days', 'Year'],
      dtype='object')

In [44]:
eia_state_year.head(20)

,State,Year,Total_Revenues,Total_Sales,Total_Customers,Revenue_per_Customer,Sales_per_Customer
0,AK,2024,1340533.0,6046503.0,356597.0,3.759238,16.956124
1,AL,2024,10415173.6,87522932.0,2795343.0,3.725902,31.310266
2,AR,2024,4786264.7,49895812.0,1720753.0,2.781494,28.996499
3,AZ,2024,11459306.3,89484553.0,3583829.0,3.197504,24.968980
4,CA,2024,66028063.2,331926163.0,23066904.0,2.862459,14.389715
5,CO,2024,6853685.4,56801304.0,2979226.0,2.300492,19.065792
6,CT,2024,6602767.0,40395475.0,2117578.0,3.118075,19.076263
7,DC,2024,1711132.9,17053887.0,388809.0,4.400960,43.861863
8,DE,2024,1543750.9,15282722.0,572286.0,2.697516,26.704693
9,FL,2024,31944662.6,255010900.0,11791478.0,2.709131,21.626712
10,GA,2024,17098668.7,150003965.0,5459009.0,3.132193,27.478241
11,HI,2024,3394295.1,8881811.0,529303.0,6.412764,16.780202
12,IA,2024,5130194.1,54930422.0,1710011.0,3.000094,32.122847
13,ID,2024,2507731.7,26369555.0,1021781.0,2.454275,25.807443
14,IL,2024,16840545.0,220716905.0,7761318.0,2.169805,28.438070
15,IN,2024,11287389.5,99219607.0,3450420.0,3.271309,28.755806
16,KS,2024,4624479.6,41258210.0,1586227.0,2.915396,26.010281
17,KY,2024,7490330.0,74405871.0,2409509.0,3.108654,30.880097
18,LA,2024,8393525.0,95356829.0,2467243.0,3.401986,38.649144
19,MA,2024,11874562.6,83231872.0,5205606.0,2.281111,15.988892

In [45]:
noaa_state_year.rename(
    columns={'STATE': 'State', 'YEAR': 'Year'},
    inplace=True
)

noaa_state_year.head(20)

,State,Year,Extreme_Event_Count,Total_Property_Damage,Total_Crop_Damage,Total_Casualties
0,ALABAMA,2024,1273,1.739660e+07,0.000000e+00,27
1,ALASKA,2024,319,1.079000e+07,0.000000e+00,6
2,AMERICAN SAMOA,2024,23,9.970000e+05,0.000000e+00,2
3,ARIZONA,2024,582,3.971550e+07,0.000000e+00,99
4,ARKANSAS,2024,1246,1.156533e+08,1.000000e+03,29
5,ATLANTIC NORTH,2024,673,4.000000e+03,0.000000e+00,0
6,ATLANTIC SOUTH,2024,582,0.000000e+00,0.000000e+00,0
7,CALIFORNIA,2024,2572,1.422954e+08,1.000000e+01,138
8,COLORADO,2024,1896,5.062500e+06,2.922200e+07,9
9,CONNECTICUT,2024,288,1.238700e+06,0.000000e+00,10
10,DELAWARE,2024,83,5.000000e+04,0.000000e+00,3
11,DISTRICT OF COLUMBIA,2024,28,6.800000e+04,0.000000e+00,0
12,E PACIFIC,2024,5,0.000000e+00,0.000000e+00,0
13,FLORIDA,2024,1441,7.185825e+09,4.150000e+08,88
14,GEORGIA,2024,1670,1.589141e+09,1.224100e+09,126
15,GUAM,2024,57,1.020000e+05,5.000000e+04,16
16,GUAM WATERS,2024,1,0.000000e+00,0.000000e+00,7
17,GULF OF ALASKA,2024,2,0.000000e+00,0.000000e+00,0
18,GULF OF MEXICO,2024,877,1.000000e+03,0.000000e+00,0
19,HAWAII,2024,180,2.277600e+07,1.000000e+04,10

In [46]:
print(noaa_state_year.columns)

Index(['State', 'Year', 'Extreme_Event_Count', 'Total_Property_Damage',
       'Total_Crop_Damage', 'Total_Casualties'],
      dtype='object')

In [47]:
state_abbrev = {
    'ALABAMA': 'AL',
    'ALASKA': 'AK',
    'ARIZONA': 'AZ',
    'ARKANSAS': 'AR',
    'CALIFORNIA': 'CA',
    'COLORADO': 'CO',
    'CONNECTICUT': 'CT',
    'DELAWARE': 'DE',
    'DISTRICT OF COLUMBIA': 'DC',
    'FLORIDA': 'FL',
    'GEORGIA': 'GA',
    'HAWAII': 'HI',
    'IDAHO': 'ID',
    'ILLINOIS': 'IL',
    'INDIANA': 'IN',
    'IOWA': 'IA',
    'KANSAS': 'KS',
    'KENTUCKY': 'KY',
    'LOUISIANA': 'LA',
    'MAINE': 'ME',
    'MARYLAND': 'MD',
    'MASSACHUSETTS': 'MA',
    'MICHIGAN': 'MI',
    'MINNESOTA': 'MN',
    'MISSISSIPPI': 'MS',
    'MISSOURI': 'MO',
    'MONTANA': 'MT',
    'NEBRASKA': 'NE',
    'NEVADA': 'NV',
    'NEW HAMPSHIRE': 'NH',
    'NEW JERSEY': 'NJ',
    'NEW MEXICO': 'NM',
    'NEW YORK': 'NY',
    'NORTH CAROLINA': 'NC',
    'NORTH DAKOTA': 'ND',
    'OHIO': 'OH',
    'OKLAHOMA': 'OK',
    'OREGON': 'OR',
    'PENNSYLVANIA': 'PA',
    'RHODE ISLAND': 'RI',
    'SOUTH CAROLINA': 'SC',
    'SOUTH DAKOTA': 'SD',
    'TENNESSEE': 'TN',
    'TEXAS': 'TX',
    'UTAH': 'UT',
    'VERMONT': 'VT',
    'VIRGINIA': 'VA',
    'WASHINGTON': 'WA',
    'WEST VIRGINIA': 'WV',
    'WISCONSIN': 'WI',
    'WYOMING': 'WY'
}

In [48]:
noaa_state_year['State'] = (
    noaa_state_year['State']
    .str.strip()
    .str.upper()
    .map(state_abbrev)
)

In [49]:
noaa_state_year = noaa_state_year.dropna(subset=['State'])

In [50]:
print(noaa_state_year[['State', 'Year']].head(10))

   State  Year
0     AL  2024
1     AK  2024
3     AZ  2024
4     AR  2024
7     CA  2024
8     CO  2024
9     CT  2024
10    DE  2024
11    DC  2024
13    FL  2024

In [51]:
final_dataset = eia_state_year.copy()

final_dataset = final_dataset.merge(
    fema_state_year,
    on=['State', 'Year'],
    how='left'
)

final_dataset = final_dataset.merge(
    noaa_state_year,
    on=['State', 'Year'],
    how='left'
)

final_dataset.head(20)

,State,Year,Total_Revenues,Total_Sales,Total_Customers,Revenue_per_Customer,Sales_per_Customer,Disaster_Count,Extreme_Event_Count,Total_Property_Damage,Total_Crop_Damage,Total_Casualties
0,AK,2024,1340533.0,6046503.0,356597.0,3.759238,16.956124,4.0,319,1.079000e+07,0.000000e+00,6
1,AL,2024,10415173.6,87522932.0,2795343.0,3.725902,31.310266,1.0,1273,1.739660e+07,0.000000e+00,27
2,AR,2024,4786264.7,49895812.0,1720753.0,2.781494,28.996499,1.0,1246,1.156533e+08,1.000000e+03,29
3,AZ,2024,11459306.3,89484553.0,3583829.0,3.197504,24.968980,7.0,582,3.971550e+07,0.000000e+00,99
4,CA,2024,66028063.2,331926163.0,23066904.0,2.862459,14.389715,15.0,2572,1.422954e+08,1.000000e+01,138
5,CO,2024,6853685.4,56801304.0,2979226.0,2.300492,19.065792,3.0,1896,5.062500e+06,2.922200e+07,9
6,CT,2024,6602767.0,40395475.0,2117578.0,3.118075,19.076263,4.0,288,1.238700e+06,0.000000e+00,10
7,DC,2024,1711132.9,17053887.0,388809.0,4.400960,43.861863,NaN,28,6.800000e+04,0.000000e+00,0
8,DE,2024,1543750.9,15282722.0,572286.0,2.697516,26.704693,NaN,83,5.000000e+04,0.000000e+00,3
9,FL,2024,31944662.6,255010900.0,11791478.0,2.709131,21.626712,9.0,1441,7.185825e+09,4.150000e+08,88
10,GA,2024,17098668.7,150003965.0,5459009.0,3.132193,27.478241,4.0,1670,1.589141e+09,1.224100e+09,126
11,HI,2024,3394295.1,8881811.0,529303.0,6.412764,16.780202,1.0,180,2.277600e+07,1.000000e+04,10
12,IA,2024,5130194.1,54930422.0,1710011.0,3.000094,32.122847,3.0,2532,1.342247e+08,1.391500e+06,53
13,ID,2024,2507731.7,26369555.0,1021781.0,2.454275,25.807443,3.0,596,4.430175e+07,2.600000e+04,17
14,IL,2024,16840545.0,220716905.0,7761318.0,2.169805,28.438070,1.0,2568,1.988755e+07,4.720000e+05,37
15,IN,2024,11287389.5,99219607.0,3450420.0,3.271309,28.755806,NaN,1093,6.001775e+07,6.150000e+04,77
16,KS,2024,4624479.6,41258210.0,1586227.0,2.915396,26.010281,4.0,2572,1.216300e+07,1.705000e+07,27
17,KY,2024,7490330.0,74405871.0,2409509.0,3.108654,30.880097,3.0,1754,1.496715e+07,1.137650e+06,55
18,LA,2024,8393525.0,95356829.0,2467243.0,3.401986,38.649144,2.0,1311,2.314012e+08,8.800000e+04,23
19,MA,2024,11874562.6,83231872.0,5205606.0,2.281111,15.988892,1.0,314,2.758000e+05,0.000000e+00,3

In [52]:
final_dataset[['State', 'Year', 'Total_Property_Damage', 'Total_Crop_Damage']].head(15)

   State  Year  Total_Property_Damage  Total_Crop_Damage
0     AK  2024           1.079000e+07       0.000000e+00
1     AL  2024           1.739660e+07       0.000000e+00
2     AR  2024           1.156533e+08       1.000000e+03
3     AZ  2024           3.971550e+07       0.000000e+00
4     CA  2024           1.422954e+08       1.000000e+01
5     CO  2024           5.062500e+06       2.922200e+07
6     CT  2024           1.238700e+06       0.000000e+00
7     DC  2024           6.800000e+04       0.000000e+00
8     DE  2024           5.000000e+04       0.000000e+00
9     FL  2024           7.185825e+09       4.150000e+08
10    GA  2024           1.589141e+09       1.224100e+09
11    HI  2024           2.277600e+07       1.000000e+04
12    IA  2024           1.342247e+08       1.391500e+06
13    ID  2024           4.430175e+07       2.600000e+04
14    IL  2024           1.988755e+07       4.720000e+05

In [53]:
numeric_cols = [
    'Disaster_Count',
    'Extreme_Event_Count',
    'Total_Property_Damage',
    'Total_Crop_Damage',
    'Total_Casualties'
]

final_dataset[numeric_cols] = final_dataset[numeric_cols].apply(pd.to_numeric, errors='coerce')

final_dataset[numeric_cols] = final_dataset[numeric_cols].fillna(0)

final_dataset.head(20)

,State,Year,Total_Revenues,Total_Sales,Total_Customers,Revenue_per_Customer,Sales_per_Customer,Disaster_Count,Extreme_Event_Count,Total_Property_Damage,Total_Crop_Damage,Total_Casualties
0,AK,2024,1340533.0,6046503.0,356597.0,3.759238,16.956124,4.0,319,1.079000e+07,0.000000e+00,6
1,AL,2024,10415173.6,87522932.0,2795343.0,3.725902,31.310266,1.0,1273,1.739660e+07,0.000000e+00,27
2,AR,2024,4786264.7,49895812.0,1720753.0,2.781494,28.996499,1.0,1246,1.156533e+08,1.000000e+03,29
3,AZ,2024,11459306.3,89484553.0,3583829.0,3.197504,24.968980,7.0,582,3.971550e+07,0.000000e+00,99
4,CA,2024,66028063.2,331926163.0,23066904.0,2.862459,14.389715,15.0,2572,1.422954e+08,1.000000e+01,138
5,CO,2024,6853685.4,56801304.0,2979226.0,2.300492,19.065792,3.0,1896,5.062500e+06,2.922200e+07,9
6,CT,2024,6602767.0,40395475.0,2117578.0,3.118075,19.076263,4.0,288,1.238700e+06,0.000000e+00,10
7,DC,2024,1711132.9,17053887.0,388809.0,4.400960,43.861863,0.0,28,6.800000e+04,0.000000e+00,0
8,DE,2024,1543750.9,15282722.0,572286.0,2.697516,26.704693,0.0,83,5.000000e+04,0.000000e+00,3
9,FL,2024,31944662.6,255010900.0,11791478.0,2.709131,21.626712,9.0,1441,7.185825e+09,4.150000e+08,88
10,GA,2024,17098668.7,150003965.0,5459009.0,3.132193,27.478241,4.0,1670,1.589141e+09,1.224100e+09,126
11,HI,2024,3394295.1,8881811.0,529303.0,6.412764,16.780202,1.0,180,2.277600e+07,1.000000e+04,10
12,IA,2024,5130194.1,54930422.0,1710011.0,3.000094,32.122847,3.0,2532,1.342247e+08,1.391500e+06,53
13,ID,2024,2507731.7,26369555.0,1021781.0,2.454275,25.807443,3.0,596,4.430175e+07,2.600000e+04,17
14,IL,2024,16840545.0,220716905.0,7761318.0,2.169805,28.438070,1.0,2568,1.988755e+07,4.720000e+05,37
15,IN,2024,11287389.5,99219607.0,3450420.0,3.271309,28.755806,0.0,1093,6.001775e+07,6.150000e+04,77
16,KS,2024,4624479.6,41258210.0,1586227.0,2.915396,26.010281,4.0,2572,1.216300e+07,1.705000e+07,27
17,KY,2024,7490330.0,74405871.0,2409509.0,3.108654,30.880097,3.0,1754,1.496715e+07,1.137650e+06,55
18,LA,2024,8393525.0,95356829.0,2467243.0,3.401986,38.649144,2.0,1311,2.314012e+08,8.800000e+04,23
19,MA,2024,11874562.6,83231872.0,5205606.0,2.281111,15.988892,1.0,314,2.758000e+05,0.000000e+00,3

In [54]:
print(final_dataset.duplicated(subset=['State', 'Year']).sum())

print(final_dataset.isna().sum())

print(final_dataset.describe())

0
State                    0
Year                     0
Total_Revenues           0
Total_Sales              0
Total_Customers          0
Revenue_per_Customer     0
Sales_per_Customer       0
Disaster_Count           0
Extreme_Event_Count      0
Total_Property_Damage    0
Total_Crop_Damage        0
Total_Casualties         0
dtype: int64
         Year  Total_Revenues   Total_Sales  Total_Customers  \
count    51.0    5.100000e+01  5.100000e+01     5.100000e+01
mean   2024.0    1.008325e+07  8.960848e+07     3.569099e+06
std       0.0    1.184783e+07  9.483796e+07     4.125791e+06
min    2024.0    1.005062e+06  5.458947e+06     3.565970e+05
25%    2024.0    2.986171e+06  3.003303e+07     1.039354e+06
50%    2024.0    6.853685e+06  6.456211e+07     2.409509e+06
75%    2024.0    1.164948e+07  9.951356e+07     3.953051e+06
max    2024.0    6.602806e+07  5.054313e+08     2.306690e+07

       Revenue_per_Customer  Sales_per_Customer  Disaster_Count  \
count             51.000000           51.000000       51.000000
mean               3.003546           26.952293        3.470588
std                0.758489            8.552308        3.139127
min                1.887228           14.050946        0.000000
25%                2.559989           21.491442        1.000000
50%                2.862459           26.915731        3.000000
75%                3.164848           30.614656        4.000000
max                6.412764           61.267886       15.000000

       Extreme_Event_Count  Total_Property_Damage  Total_Crop_Damage  \
count            51.000000           5.100000e+01       5.100000e+01
mean           1299.313725           3.085934e+08       4.421677e+07
std            1025.589986           1.052285e+09       1.820793e+08
min              28.000000           5.000000e+04       0.000000e+00
25%             509.500000           1.618188e+07       0.000000e+00
50%            1246.000000           4.582300e+07       4.400000e+04
75%            1783.000000           1.382600e+08       1.809750e+06
max            5678.000000           7.185825e+09       1.224100e+09

       Total_Casualties
count         51.000000
mean          40.411765
std           54.446001
min            0.000000
25%            7.000000
50%           21.000000
75%           49.000000
max          269.000000

In [55]:
final_dataset.head(20)

,State,Year,Total_Revenues,Total_Sales,Total_Customers,Revenue_per_Customer,Sales_per_Customer,Disaster_Count,Extreme_Event_Count,Total_Property_Damage,Total_Crop_Damage,Total_Casualties
0,AK,2024,1340533.0,6046503.0,356597.0,3.759238,16.956124,4.0,319,1.079000e+07,0.000000e+00,6
1,AL,2024,10415173.6,87522932.0,2795343.0,3.725902,31.310266,1.0,1273,1.739660e+07,0.000000e+00,27
2,AR,2024,4786264.7,49895812.0,1720753.0,2.781494,28.996499,1.0,1246,1.156533e+08,1.000000e+03,29
3,AZ,2024,11459306.3,89484553.0,3583829.0,3.197504,24.968980,7.0,582,3.971550e+07,0.000000e+00,99
4,CA,2024,66028063.2,331926163.0,23066904.0,2.862459,14.389715,15.0,2572,1.422954e+08,1.000000e+01,138
5,CO,2024,6853685.4,56801304.0,2979226.0,2.300492,19.065792,3.0,1896,5.062500e+06,2.922200e+07,9
6,CT,2024,6602767.0,40395475.0,2117578.0,3.118075,19.076263,4.0,288,1.238700e+06,0.000000e+00,10
7,DC,2024,1711132.9,17053887.0,388809.0,4.400960,43.861863,0.0,28,6.800000e+04,0.000000e+00,0
8,DE,2024,1543750.9,15282722.0,572286.0,2.697516,26.704693,0.0,83,5.000000e+04,0.000000e+00,3
9,FL,2024,31944662.6,255010900.0,11791478.0,2.709131,21.626712,9.0,1441,7.185825e+09,4.150000e+08,88
10,GA,2024,17098668.7,150003965.0,5459009.0,3.132193,27.478241,4.0,1670,1.589141e+09,1.224100e+09,126
11,HI,2024,3394295.1,8881811.0,529303.0,6.412764,16.780202,1.0,180,2.277600e+07,1.000000e+04,10
12,IA,2024,5130194.1,54930422.0,1710011.0,3.000094,32.122847,3.0,2532,1.342247e+08,1.391500e+06,53
13,ID,2024,2507731.7,26369555.0,1021781.0,2.454275,25.807443,3.0,596,4.430175e+07,2.600000e+04,17
14,IL,2024,16840545.0,220716905.0,7761318.0,2.169805,28.438070,1.0,2568,1.988755e+07,4.720000e+05,37
15,IN,2024,11287389.5,99219607.0,3450420.0,3.271309,28.755806,0.0,1093,6.001775e+07,6.150000e+04,77
16,KS,2024,4624479.6,41258210.0,1586227.0,2.915396,26.010281,4.0,2572,1.216300e+07,1.705000e+07,27
17,KY,2024,7490330.0,74405871.0,2409509.0,3.108654,30.880097,3.0,1754,1.496715e+07,1.137650e+06,55
18,LA,2024,8393525.0,95356829.0,2467243.0,3.401986,38.649144,2.0,1311,2.314012e+08,8.800000e+04,23
19,MA,2024,11874562.6,83231872.0,5205606.0,2.281111,15.988892,1.0,314,2.758000e+05,0.000000e+00,3

In [56]:
final_dataset.to_csv(
    "tableau_dataset.csv",
    index=False
)